apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-user-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-user-service
  template:
    metadata:
      labels:
        app: auth-user-service
    spec:
      containers:
        - name: auth-user-service
          image: asia-southeast1-docker.pkg.dev/app-chat-478713/chat/auth-user-service:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 4001

          env:
            - name: PORT
              value: "4001"

          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret

          resources:
            requests:
              cpu: "250m"
              memory: "1Gi"
            limits:
              cpu: "500m"
              memory: "1.5Gi"

          livenessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: auth-user-service
  namespace: default
spec:
  selector:
    app: auth-user-service
  type: ClusterIP
  ports:
    - port: 4001
      targetPort: 4001
