apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
    spec:
      containers:
        - name: chat-service
          image: asia-southeast1-docker.pkg.dev/app-chat-478713/chat/chat-service:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 4002

          env:
            - name: PORT
              value: "4002"

          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret

          resources:
            requests:
              cpu: "250m"
              memory: "1Gi"
            limits:
              cpu: "500m"
              memory: "2Gi"

---
apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: default
spec:
  selector:
    app: chat-service
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 4002
      targetPort: 4002