apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: asia-southeast1-docker.pkg.dev/app-chat-478713/chat/client:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: VITE_SERVER_URL
              value: "https://vibechat.io.vn"
            - name: VITE_SOCKET_URL
              value: "https://vibechat.io.vn"
            - name: VITE_SOCKET_PATH
              value: "/socket.io"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          resources:
            requests:
              cpu: "150m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "768Mi"
          volumeMounts:
            - name: runtime-config
              mountPath: /usr/share/nginx/html/runtime-config.js
              subPath: runtime-config.js
      volumes:
        - name: runtime-config
          configMap:
            name: runtime-config
            items:
              - key: runtime-config.js
                path: runtime-config.js

---
apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: default
spec:
  type: LoadBalancer
  loadBalancerIP: 136.110.57.178   # STATIC IP (chat-client-ip)
  selector:
    app: client
  ports:
    - port: 80
      targetPort: 80
  


