apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-ai-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media-ai-service
  template:
    metadata:
      labels:
        app: media-ai-service
    spec:
      containers:
        - name: media-ai-service
          image: asia-southeast1-docker.pkg.dev/app-chat-478713/chat/media-ai-service:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 4003

          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: media-ai-service
  namespace: default
spec:
  selector:
    app: media-ai-service
  type: ClusterIP
  ports:
    - port: 4003
      targetPort: 4003
